<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/j2ee</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">161250164</property>
        <mapping class="nju.model.Course"/>
        <mapping class="nju.model.Reply"/>
        <mapping class="nju.model.Topic"/>
        <mapping class="nju.model.User"/>
        <mapping class="nju.model.SelectedCourse"/>
        <mapping class="nju.model.Broadcast"/>
        <mapping class="nju.model.Resourse"/>
        <mapping class="nju.model.Homework"/>
        <mapping class="nju.model.HomeworkResourse"/>
    </session-factory>

</hibernate-configuration>