<div class="aui-page page-chart">
  <main class="aui-page-main">
    <el-row :gutter="15">
      <el-col :span="24">
        <div class="aui-panel">
          <div class="aui-panel__bd">
            <div class="chart-box"></div>
          </div>
        </div>
      </el-col>
      <el-col :span="24">
        <div class="aui-panel">
          <div class="aui-panel__bd">
            <div class="chart-box"></div>
          </div>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="aui-panel">
          <div class="aui-panel__bd">
            <div class="chart-box"></div>
          </div>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="aui-panel">
          <div class="aui-panel__bd">
            <div class="chart-box"></div>
          </div>
        </div>
      </el-col>
    </el-row>
  </main>
</div>