<h3 class="login-title">注册</h3>
<el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmitHandle()" status-icon>
  <el-form-item prop="mobile">
    <el-input v-model="dataForm.mobile" placeholder="手机号码">
      <span slot="prefix" class="el-input__icon">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-phone"></use></svg>
      </span>
    </el-input>
  </el-form-item>
  <el-form-item prop="password">
    <el-input v-model="dataForm.password" type="password" placeholder="密码">
      <span slot="prefix" class="el-input__icon">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-lock"></use></svg>
      </span>
    </el-input>
  </el-form-item>
  <el-form-item prop="confirmPassword">
    <el-input v-model="dataForm.confirmPassword" type="password" placeholder="确认密码">
      <span slot="prefix" class="el-input__icon">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-lock"></use></svg>
      </span>
    </el-input>
  </el-form-item>
  <el-form-item prop="captcha">
    <el-row :gutter="20">
      <el-col :span="14">
        <el-input v-model="dataForm.captcha" placeholder="验证码">
          <span slot="prefix" class="el-input__icon">
            <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-safetycertificate"></use></svg>
          </span>
        </el-input>
      </el-col>
      <el-col :span="10" class="login-captcha">
        <img src="../img/captcha.png" alt="">
      </el-col>
    </el-row>
  </el-form-item>
  <el-form-item prop="smsCaptcha">
    <el-row :gutter="20">
      <el-col :span="14">
        <el-input v-model="dataForm.smsCaptcha" placeholder="短信验证码">
          <span slot="prefix" class="el-input__icon">
            <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-safetycertificate"></use></svg>
          </span>
        </el-input>
      </el-col>
      <el-col :span="10">
        <el-button class="w-100">获取验证码</el-button>
      </el-col>
    </el-row>
  </el-form-item>
  <el-form-item prop="agreement" size="mini">
    <div class="t-left">
      <el-checkbox v-model="dataForm.agreement">已阅读并同意</el-checkbox>
      <a href="#">服务条款</a>
    </div>
  </el-form-item>
  <el-form-item>
    <el-button class="w-100" type="primary" @click="dataFormSubmitHandle()">注册</el-button>
  </el-form-item>
</el-form>
<div class="aui-shortcut">
  <h4 class="aui-shortcut__title"><span>使用社交账号直接登录</span></h4>
  <ul class="aui-shortcut__list">
    <li>
      <a href="#" style="color: #191717;">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-github-fill"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" style="color: #4bb772;">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-wechat-fill"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" style="color: #26a4de;">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-QQ-circle-fill"></use></svg>
      </a>
    </li>
    <li>
      <a href="#" style="color: #ec5c58;">
        <svg class="icon-svg" aria-hidden="true"><use xlink:href="#icon-weibo-circle-fill"></use></svg>
      </a>
    </li>
  </ul>
</div>
<p class="login-guide">已经注册过？<a href="./login@@v2.html">立即登录</a></p>